$colorBlack: #202020;
$colorWhite: #FFFFFF;
$colorBody: rgba(192, 219, 217, 1);
$colorHeader: rgba(127, 175, 246, 1);
$colorPopUp: rgba(165, 199, 249, 1);
$colorHero: rgba(179, 249, 90, 1);
$colorHeroItem: rgba(138, 209, 145, 1);
$colorMain: rgba(136, 181, 191, 1);
$colorMainItem: rgba(13, 137, 176, 1);
$colorFooter: rgba(127, 175, 246, 1);
$gridGap: 15px;
$bottomMargin: 15px;